.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin: 0 10px;
    gap: 10px;
  }
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .course .cover {
  max-width: 100%;
  opacity: 0.8;
}
.courses-page .course .instructor {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid white;
}
.courses-page .course .description {
  line-height: 1.8;
}

.courses-page .course .info {
  border-top: 1px solid var(--border-alt-color);
  font-size: 13px;
}

.courses-page .course .info .title {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  height: 27px;
  font-size: 13px;
}
