.projects-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .projects-page {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.projects-page .project .date {
  position: absolute;
  right: 10px;
  top: 10px;
}
.projects-page .project h4 {
  font-weight: normal;
}
.projects-page .project .team {
  position: relative;
  min-height: 80px;
}
.projects-page .project .team a {
  position: absolute;
  left: 0;
  bottom: 0;
}
.projects-page .project .team a:nth-child(2) {
  left: 25px;
}
.projects-page .project .team a:nth-child(3) {
  left: 50px;
}
.projects-page .project .team a:nth-child(4) {
  left: 75px;
}
.projects-page .project .team a:nth-child(5) {
  left: 100px;
}

.projects-page .project .team a:hover {
  z-index: 5;
}
.projects-page .project .team a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid white;
}

.projects-page .project .do {
  justify-content: flex-end;
  border-top: 1px solid var(--border-alt-color);

  margin: 15px 0 0;
  padding: 15px 0 0;
}
@media (max-width: 767px) {
  .projects-page .project .do {
    flex-direction: column;
  }
  .projects-page .project .do span:not(:last-child) {
    margin-bottom: 15px;
  }
}
.projects-page .project .info {
  border-top: 1px solid var(--border-alt-color);

  margin: 15px 0 0;
  padding: 15px 0 0;
}
@media (max-width: 767px) {
  .projects-page .project .info {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
.projects-page .project .info .prog {
  position: relative;
  height: 8px;
  width: 260px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media (max-width: 767px) {
  .projects-page .project .info .prog {
    position: relative;
    height: 8px;
    width: 200px;
  }
}
.projects-page .project .info .prog span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
@media (max-width: 767px) {
  .projects-page .project .info div:not(:last-child) {
    margin-bottom: 15px;
  }
}
