/* Start settings-page */
.page .content .settings-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin: 0 20px 20px;
}
@media (max-width: 767px) {
  .page .content .settings-page {
    grid-template-columns: minmax(200px, 1fr);
    margin: 0 10px;
    gap: 10px;
  }
}
/* End settings-page */

/* Start toggle-checkbox */
.toggle-checkbox {
  appearance: none;
  display: none;
}
.toggel-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  cursor: pointer;
}
.toggel-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;

  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.toggle-checkbox:checked + .toggel-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggel-switch::before {
  content: "\f00c";
  position: absolute;
  left: 50px;
  color: var(--blue-color);
}
/* End toggle-checkbox */

/* Satrt Site Control */
.settings-page .close-message {
  resize: none;
  min-height: 150px;
  border-color: var(--border-color);
}
.close-message::placeholder {
  color: var(--border-color);
}
/* End Site Control */
/* Start genaral-info */
.settings-page .genaral-info .email {
  display: inline-flex;
  width: calc(100% - 80px);
}
.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
/* End genaral-info */
/* Satrt security-boxes */
.security-boxes .sec-box {
  padding-bottom: 15px;
}
.security-boxes .sec-box:not(:last-child) {
  border-bottom: 1px solid var(--border-alt-color);
}
.security-boxes .sec-box .button {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.security-boxes .sec-box .button:hover {
  background-color: var(--blue-alt-color);
}
/* End security-boxes */

/* Start social-info */
.settings-page .social-boxes i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid var(--border-color);
  border-right: none;
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.settings-page .social-boxes input {
  border: 1px solid var(--border-color);
  height: 40px;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
}
.settings-page .social-boxes > div:focus-within i {
  color: black;
}

/* End social-info */

.check {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.check:checked {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

/* Satrt widgets-control */
.widgets-control .control input[type="checkbox"] {
  appearance: none;
}

.widgets-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.widgets-control .control label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  border: 2px solid var(--grey-color);
  width: 14px;
  height: 14px;
  /*transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  */
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.widgets-control .control label:hover::before {
  border: 2px solid var(--blue-col or);
}
.widgets-control .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  -webkit-transform: scale(0) rotate(360deg);
  -moz-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  -o-transform: scale(0) rotate(360deg);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/* End widgets-control */
/* Strat backup-manager */
.backup-manager input[type="radio"] {
  appearance: none;
}
.backup-manager .date label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.backup-manager .date label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 18px;
  width: 18px;
  margin-top: -11px;
  border: 2px solid var(--grey-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.backup-manager .date label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%) scale(0);
  -webkit-transform: translateY(-50%) scale(0);
  -moz-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  -o-transform: translateY(-50%) scale(0);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.backup-manager .date input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.backup-manager .date input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(1);
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -o-transform: translateY(-50%) scale(1);
}

.backup-manager .servers {
  border-top: 1px solid var(--border-alt-color);
  padding-top: 20px;
}
@media (max-width: 767px) {
  .backup-manager .servers {
    flex-wrap: wrap;
  }
}
.backup-manager .servers .server {
  position: relative;
  border: 2px solid var(--border-alt-color);
  margin: 0 0 10px 10px;
}
.backup-manager .servers .server label {
  cursor: pointer;
}

.backup-manager .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/* End backup-manager */
